# Dependencies
node_modules/

# Environment variables
.env

# Screenshots
screenshots/*.png
screenshots/*.jpg
screenshots/*.jpeg

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db